[gpg]
	program = C:\\\\Scoop\\\\apps\\\\gpg\\\\current\\\\bin\\\\gpg.exe
[user]
	signingkey = AB85E2D677CA9A84
	name = DejavuMoe
	email = admin@dejavu.moe
[commit]
	gpgsign = true
[core]
	sshcommand = plink -agent
	autocrlf = true
	safecrlf = warn
[init]
	defaultBranch = master
[credential "helperselector"]
	selected = <no helper>
[color]
	ui = auto
