[user]
	signingkey = 
	name = 
	email = 
[commit]
	gpgsign = true
[core]
	autocrlf = true
	safecrlf = warn
[init]
	defaultBranch = master
[color]
	ui = auto
[gpg]
	program = C:/Scoop/apps/gnupg/current/bin/gpg.exe
[gui]
	encoding = utf-8
